#card {
    display : flex;
    flex-direction : row;
    margin: 0 auto;
    justify-items: center;
    align-items: center;
    justify-content: center
}

.imgCard {
    background-image: url('https://i.imgur.com/ICqJPbU.jpg');
    background-size: cover;
    background-position: center;  
}

    .button {
    position: absolute;
    top: 53%;
    right: 35%;
    transform: translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    border-color: red;
    border-radius: 15%;
    color: rgb(15, 15, 15);
    font-weight: 600;
    padding: 10px 20px;
    font-size: 16px;
    background-color: transparent; 
   }

   .content {
    align-content: center;
    margin-left:0%;
    width: 90%;
}
   
#container {
    align-content: center;
    margin-left: 35%;

}

.contPuff {
    width: 11%;
    position: relative;
    left: 38%;
    padding: 10px 24px;
}

.signo {
    width: 2%;
}