#navbar {
    background-color: transparent !important;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;    
}

.logo {
    width: 23%;
}

.containerNav {
    display: flex;
}

.navMenu {
    list-style: none;
    display: flex;
    justify-content: center;
}

.logosNav {
    width: 42%;
}

#myAccount {
    border: none;
    background-color: transparent;
}

.myShopping {
    text-decoration: none;
    color: black;
}
